.jxbrowser/
.jxbrowser.userdata/
.metadata/
*.launches/
*.settings/
*Debug/
*targetConfigs/
*Release/
RemoteSystemsTempFiles/

*.obj
*.d
*.opt
*.out
*.map
*.mk

ece353-final-project/
FreeRTOS/
makefile
ryan-almizyed-user-dict.txt
*.zip
*.editorconfig
.ccsproject
.cproject
.project
